# Initial Overview

You can use this notebook to get a handle on what is in the database.

In [1]:
from dotenv import load_dotenv
import psycopg2
import os
from sqlalchemy import create_engine

In [2]:
%load_ext sql

In [3]:
%load_ext dotenv
%dotenv ../.env

In [4]:
conn_string = 'postgresql://{u}:{p}@{h}/{db}'.format(h=os.getenv('DB_HOST'), u=os.getenv('DB_USER'), p=os.getenv('DB_PASSWORD'), db=os.getenv('DB_NAME'))
db = create_engine(conn_string)
conn = db.connect()

In [7]:
%sql {conn_string}

Try some SQL to see how it goes.

In [9]:
%sql select * from epa.frs_facilities limit 5;

 * postgresql://buddha:***@localhost/fisheye_dev
5 rows affected.

[(0, 'E & G CLEANERS', '413 KENNEDY ST NE', 'WASHINGTON', 'DC', '20011', '110001967943', 'DISTRICT OF COLUMBIA', 3.0, 38.95596, -76.99932),
 (1, 'EMPIRE CLEANERS', '3710 MACOMB STREET, N. W.', 'WASHINGTON', 'DC', '20016', '110001967961', 'DISTRICT OF COLUMBIA', 3.0, 38.93348, -77.073),
 (2, 'FAMILY CLEANERS', '3106 GEORGIA AVENUE, N. W.', 'WASHINGTON', 'DC', '20010', '110001967970', 'DISTRICT OF COLUMBIA', 3.0, 38.92941, -77.02329),
 (3, "Z/FRENCH'S CLEANERS", '3706 14TH STREET, N. W.', 'WASHINGTON', 'DC', '20010', '110001967989', 'DISTRICT OF COLUMBIA', 3.0, 38.93745, -77.03274),
 (4, 'FRIEDRICHS MODERN DRY CLEANERS', '266 CARROLL STREET, N. W.', 'WASHINGTON', 'DC', '20012', '110001967998', 'DISTRICT OF COLUMBIA', 3.0, 38.974916, -77.015298)]

Now we'll look at facilities in Los Angeles.

In [23]:
# Use this little trick to handle multi-line sql
s = """
SELECT 
  f."FAC_CITY"
, count(*) as n
, min(f."LATITUDE_MEASURE") as min_lat
, max(f."LATITUDE_MEASURE") as max_lat
, min(f."LONGITUDE_MEASURE") as min_lon
, max(f."LONGITUDE_MEASURE") as max_lon
FROM epa.frs_facilities f 
WHERE f."FAC_CITY" ilike '%los angeles%' 
GROUP BY 1
ORDER BY 2 DESC
"""
%sql {s}

 * postgresql://buddha:***@localhost/fisheye_dev
11 rows affected.

[('LOS ANGELES', 18848, 28.586819, 45.868157, -122.671592, -98.921714),
 ('WEST LOS ANGELES', 54, 33.816715, 34.052648, -118.4694, -118.30825),
 ('EAST LOS ANGELES', 34, 33.784687, 34.060578, -118.23146, -118.1383),
 ('LOS ANGELES COUNTY', 7, 33.445, 34.685, -118.7878, -118.019),
 ('W LOS ANGELES', 6, 34.029945, 34.066851, -118.46855, -118.421406),
 ('E LOS ANGELES', 4, 34.01745, 34.047591, -118.18706, -118.145976),
 ('LAKE LOS ANGELES', 4, 34.60833, 34.616432, -117.92708, -117.8269),
 ('LOS ANGELES,', 1, 34.06197, 34.06197, -118.41499, -118.41499),
 ('LOS ANGELESLOS ANGELES', 1, 34.022705, 34.022705, -118.156593, -118.156593),
 ('LOS ANGELES BASIN', 1, None, None, None, None),
 ('LOS ANGELES (COUNTY)', 1, None, None, None, None)]

So the data ain't that great.  Lon -98 is like Kansas.